@media only screen and (min-width: 600px)
	 {
	 	nav .active{
	 		margin-top: 1%;
	 	}
	.header{
		background-color:#D3D3D3;
		margin-left: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-right: 0px;

	}
	.footer{
		background-color:#2ca6f0;
		color: white;
	}
	.footer img{
		padding-left: 9%;
	}
	.footer-img-con{
		padding-left: 16%;
	}
	.footer-con{
		padding-left: 13%;
		font-size: 14PX;
	}
	.footer-title{
		padding-left: 12%;
	}
	.footer-head{
		padding-left: 12%;
	}
	.nav-link img{
		height: 76px;
		width: 279px;
		margin-top: -5%;
		margin-bottom: -5%;
		background-color: white;
	}
	.nav-link{
		margin-right: 55px;
		text-decoration-color: 	#343a40;
	}
		.reason{
		background-color: #3af;
	}
	.reasons{
		background-color: whitesmoke;
		font-size: 14px;
	}
	.queries strong{
		padding-top: 30px;
		font-size: 14px;
		color: #343a40;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-left: 90px;
	}
	.queries h2{
		padding-left: 129px;
	}
	.checked {
  		color: orange;
	}
	.query{
		font-size: 18px;
	}
	.leader h1{
		padding-left: 454px;
		margin-top: -272px;
	}
	 .technology {
	 	background-image: url("../images/2.png");
	}
	.leadership h1{
		padding-left: 34%;
		padding-top: 7%;
	}
	.leadership img{
		padding-left: 46%;
		padding-top: 6%;
	}
	.h1{
		text-align: center;
		color: #808080;
	}
	.scorecard .p{
		text-align: center;
		font-size: 14px;
		color: 	#000000;
	}
	.details{
		background-color: #fff;
	}
	.solution{
		background-color: #f4fafd;
	}

	.solution img{
		padding-left: 34%;
	}
	.solution h1{
		color: #007bff;
		padding-left: 41%;
	}
	.solution p{
		color: #17a2b8;
		padding-left: 35%;
	}
	.solution h5{
		padding-left: 35%;
	}
	.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .img-slide{
  	text-align: center;
  }
  .carousel-item img{
		padding-left: 34%;
	}
	 .qtn-con-1{
		font-weight: -2;
		font-size: 23px;
	}
	.qtn-con-2{
		font-size: 15px;
	}
		.input{
  	width: 265px;
  	height: 100px;
  }
  .input-1{
  	width: 265px;
  	height: 45px;
  }	
}

@media only screen and (max-width: 600px)
	 {
	 	nav .active{
	 		margin-top: 1%;
	 	}
	.header{
		background-color:#D3D3D3;
		margin-left: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-right: 0px;

	}

	.footer{
		background-color:#2ca6f0;
		color: white;
	}
	.footer img{
		padding-left: 9%;
	}
	.footer-img-con{
		padding-left: 16%;
	}
	.footer-con{
		padding-left: 13%;
		font-size: 14PX;
	}
	.footer-title{
		padding-left: 12%;
	}
	.footer-head{
		padding-left: 12%;
	}
	.nav-link img{
		height: 76px;
		width: 279px;
		margin-top: -5%;
		margin-bottom: -5%;
		background-color: white;
	}
	.nav-link{
		margin-right: 55px;
		text-decoration-color: 	#343a40;
	}
		.reason{
		background-color: #3af;
	}
	.reasons{
		background-color: whitesmoke;
		font-size: 14px;
	}
	.queries strong{
		padding-top: 30px;
		font-size: 14px;
		color: #343a40;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-left: 90px;
	}
	.queries h2{
		padding-left: 129px;
	}
	.checked {
  		color: orange;
	}
	.query{
		font-size: 18px;
	}
	.leader h1{
		padding-left: 454px;
		margin-top: -272px;
	}
	 .technology {
	 	background-image: url("../images/2.png");
	}
	.leadership h1{
		padding-left: 34%;
		padding-top: 7%;
	}
	.leadership img{
		padding-left: 46%;
		padding-top: 6%;
	}
	.h1{
		text-align: center;
		color: #808080;
	}
	.scorecard .p{
		text-align: center;
		font-size: 14px;
		color: 	#000000;
	}
	.details{
		background-color: #f4fafd;
	}
	.solution{
		background-color: #f4fafd;
	}

	.solution img{
		padding-left: 34%;
	}
	.solution h1{
		color: #007bff;
		padding-left: 41%;
	}
	.solution p{
		color: #17a2b8;
		text-align: center;
	}
	.solution h5{
		padding-left: 35%;
	}
	.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .img-slide{
  	text-align: center;
  }
  .carousel-item img{
		padding-left: 34%;
	}
	.input{
		width: 265px;
		height: 100px;
	}
	.sc-img{
		padding-left:30%;
	}
	.qtn-con-1{
		font-weight: -2;
		font-size: 23px;
	}
	.qtn-con-2{
		font-size: 18px;
	}
		.input{
  	width: 265px;
  	height: 100px;
  }
  .input-1{
  	width: 265px;
  	height: 45px;
  }
	 	
}




@media only screen and (min-width: 768px)
	 {
 		nav .active{
 		margin-top: 1%;
	 	}
	.header{
		background-color:#D3D3D3;
		margin-left: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-right: 0px;

	}
	.footer{
		background-color:#2ca6f0;
		color: white;
	}
	.footer img{
		padding-left: 9%;
	}
	.footer-img-con{
		padding-left: 16%;
	}
	.footer-con{
		padding-left: 13%;
		font-size: 14PX;
	}
	.footer-title{
		padding-left: 12%;
	}
	.footer-head{
		padding-left: 12%;
	}
	.nav-link img{
		height: 76px;
		width: 279px;
		margin-top: -5%;
		margin-bottom: -5%;
		background-color: white;
	}
	.nav-link{
		margin-right: 5px;
		text-decoration-color: 	#343a40;
	}
		.reason{
		background-color: #3af;
	}
	.reasons{
		background-color: whitesmoke;
		font-size: 14px;
	}
	
	.queries strong{
		padding-top: 30px;
		font-size: 14px;
		color: #343a40;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-left: 90px;
	}
	.queries h2{
		padding-left: 129px;
	}
	.checked {
  		color: orange;
	}
	.query{
		font-size: 18px;
	}
	.leader h1{
		padding-left: 454px;
		margin-top: -272px;
	}
	 .leadership  {
	 	background-image: url("../images/2.png");
	}
	.leadership h1{
		padding-left: 34%;
		padding-top: 7%;
	}
	.leadership img{
		padding-left: 46%;
		padding-top: 6%;
	}
	.h1{
		text-align: center;
		color: #808080;
	}
	.scorecard .p{
		text-align: center;
		font-size: 14px;
		color: 	#000000;
	}
	.details .solution{
		background-color: #f4fafd;
	}
	
	.solution img{
		padding-left: 34%;
	}
	.solution h1{
		color: #007bff;
		padding-left: 41%;
	}
	.solution p{
		color: #17a2b8;
		padding-left: 35%;
	}
	.solution h5{
		padding-left: 35%;
	}
	.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .img-slide{
  	text-align: center;
  }
  .carousel-item img{
		padding-left: 34%;
	}
	.qtn-con-1{
		font-weight: -2;
		font-size: 23px;
	}
	.qtn-con-2{
		font-size: 15px;
	}
	 .input{
  	width: 265px;
  	height: 100px;
  }
  .input-1{
  	width: 265px;
  	height: 45px;
  }
}


@media only screen and (min-width: 992px)
	 {
	nav .active{
	 		margin-top: 1%;
	 	}
	.header{
		background-color:#D3D3D3;
		margin-left: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-right: 0px;

	}
	.footer{
		background-color:#2ca6f0;
		color: white;
	}
	.tech-stuff img{
		padding-left: 37%;
	}
	.footer img{
		padding-left: 9%;
	}
	.footer-img-con{
		padding-left: 16%;
	}
	.footer-con{
		padding-left: 13%;
		font-size: 14PX;
	}
	.footer-title{
		padding-left: 12%;
	}
	.footer-head{
		padding-left: 12%;
	}
	.nav-link img{
		height: 76px;
		width: 279px;
		margin-top: -6%;
		margin-bottom: -6%;
		background-color: white;
	}
	.nav-link{
		margin-right: 55px;
		text-decoration-color: 	#343a40;
	}
		.reason{
		background-color: #3af;
	}
	.reasons{
		background-color: whitesmoke;
		font-size: 14px;
	}
	.queries strong{
		padding-top: 30px;
		font-size: 14px;
		color: #343a40;
		margin-bottom: 0px;
		margin-top: 0px;
		padding-left: 90px;
	}
	.queries h2{
		padding-left: 129px;
	}
	.checked {
  		color: orange;
	}
	.query{
		font-size: 18px;
	}
	.leader h1{
		padding-left: 454px;
		margin-top: -272px;
	}
	 .leadership  {
	 	background-image: url("../images/2.png");
	}
	.leadership h1{
		padding-left: 34%;
		padding-top: 7%;
	}
	.leadership img{
		padding-left: 46%;
		padding-top: 6%;
	}
	.h1{
		text-align: center;
		color: #808080;
	}
	.scorecard .p{
		text-align: center;
		font-size: 14px;
		color: 	#000000;
	}
	.solution{
		background-color: #f4fafd;
	}
	.details{
		background-color: #fff;
	}
	.solution img{
		padding-left: 34%;
	}
	.solution h1{
		color: #007bff;
		padding-left: 41%;
	}
	.solution p{
		color: #17a2b8;
		padding-left: 35%;
	}
	.solution h5{
		padding-left: 35%;
	}
	.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .img-slide{
  	text-align: center;
  }
  .carousel-item img{
		padding-left: 34%;
	}
	.qtn-con-1{
		font-weight: -2;
		font-size: 23px;
	}
	.qtn-con-2{
		font-size: 15px;
	}
	 .input{
  	width: 344px;
  	height: 100px;
  }
  .input-1{
  	width: 265px;
  	height: 45px;
  }
	 	
}


